version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: grocy_app_1
      APP_PORT: "80"
      
  app:
    image: lscr.io/linuxserver/grocy:latest
    # container_name dihapus agar diatur otomatis oleh Umbrel
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Jakarta
    volumes:
      - ${APP_DATA_DIR}/config:/config
    restart: on-failure
    stop_grace_period: 1m
