version: '3.9'
services:
  app_proxy:
    environment:
      APP_HOST: grocy_app_1
      APP_PORT: 80

  app:
    image: lscr.io/linuxserver/grocy:latest
    restart: on-failure
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Jakarta
    volumes:
      - ${APP_DATA_DIR}/data:/config
